body {
    background-color: #ff7f00;
    color: #000000;
    font-family: "Ubuntu", sans-serif;
}

.quote-line {
    margin: 10px;
}

.quote-author {
    display: inline-block;
    box-sizing: border-box;
    width: 10%;
}

.quote-author::after {
    content: ":";
}

.quote-anonymous::before {
    content: "Anonimo";
}

.quote-time {
    display: inline-block;
    box-sizing: border-box;
    width: 10%;
}

.quote-text {
    display: inline-block;
    overflow-wrap: break-word;
    box-sizing: border-box;
    width: 75%;
}

.quote-permalink {
    display: inline-block;
    box-sizing: border-box;
    width: 5%;
}